# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Directories potentially created on remote AFP share
bin/
target/

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio
*.class
*.iml

## Directory-based project format:
.idea/

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/